NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJlb2xneWxlbXBzcWt0dmJodG1kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5OTczNTQsImV4cCI6MjA5NjU3MzM1NH0.rumlAuW4XdP3STBFN8VUX8DbkjcVLR3ipkvVUZgEMVw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJlb2xneWxlbXBzcWt0dmJodG1kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDk5NzM1NCwiZXhwIjoyMDk2NTczMzU0fQ.XyfhI8spkvaHU23o8b8vwCFRgwP_XNGH4Dn0tZ_oHpY
DATABASE_URL=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
